.body_page{position:absolute;margin-top:100px;width:100%}
ul li{list-style-type:none;}
/*.index-feature:before{content="";
background:#272727;
background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#272727),color-stop(100%,#000));
}
*/




