<body>
<div style="width:200px;height:160px">
    <div class="test1" style="position:absolute;width:50px;height:100px">
        <div class="index-feature">
            <a class="col-sm-6 col-md-4" href="coach" >
		        <h3> Coach </h3>
            </a>
         </div>
    </div>
    <div class="test2"style="position:absolute;top:100px;">
	<a class="col-sm-6 col-md-4" href="katespade">
		<div class="index-feature">
			<h3> Katespade </h3>
		</div>
	</a>
    </div>
</div>
	<style>
	.col-sm-6{
	width:100px;
	height:40px;
	}
	.index-feature{
	top:0px;
	width:50%;
	height:50%;
	position:absolute;
	background-color:rgba(1,1,1,0.5);
	}
	.index-feature:before{
        content="test";
        position:absolute;
        top:0;
        left:0;
        width:50%;
        height:50%;
        background-:rgba(1,1,1,1);
    }
</style>
</body>